---
apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf
spec:
  selector:
    io.kompose.service: audiobookshelf
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
