---
apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf-cluster-ip
spec:
  selector:
    app: audiobookshelf
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
