---
services:
  jellyfin:
    image: quay.io/linuxserver.io/jellyfin:10.10.7
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIME_ZONE}
      #- JELLYFIN_PublishedServerUrl=http://192.168.0.5 #optional
      #- NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ${CONFIG_VOLUME_PATH}:/config
      - ${SERIES_VOLUME_PATH}:/data/tvshows
      - ${MOVIES_VOLUME_PATH}:/data/movies
      - ${EXT_MOVIES_VOLUME_PATH}:/data/moviesext
      - ${EXT_SERIES_VOLUME_PATH}:/data/seriesext
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]

  tunnel:
    image: docker.io/cloudflare/cloudflared:2025.11.1
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1G"
